<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>slot01.html</title>
  <!-- <script src="https://unpkg.com/vue@2"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
</head>
<body>
  <div id="app">
    <h3>자식 컴포넌트 출력</h3>
    <!-- <my-component>{{myText}}</my-component>
    <my-component v-bind:parent="myText"></my-component> -->
    <my-component>
      <p>{{myText}}</p>
    </my-component>
  </div>
</body>
<script>
  const myComponent = {
    template : `
      <div>
        <slot></slot> <!-- 부모 데이터를 특정 위치에 뿌려주세요 라는것
                          (그저보여주기만 할 뿐 데이터 수정및 접근 불가능) -->
        <p><!--{{parent}}-->자식 컴포넌트의 내용</p> 
        <hr> 
      </div>
    `,
    // props : ['parent']
  }
  let test = new Vue({
    el : '#app',
    components : {
      'my-component' : myComponent
    },
    data : {
      myText : '부모 컴포넌트의 데이터'
    },
  })

</script>
<div id="app1">
  <input type="text" v-model="message">
  <child-component v-bind:text="'부모 컴포넌트에서 데이터를 넘겨줍니다.'">
    <template v-slot:header>
      <p><em>header 입니다</em></p>
    </template>
    <template v-slot:footer>
      <h3>footer 입니다</h3>
    </template>
  </child-component>
</div>
<script>
let childComponent = {
  template : `
    <div>
      <!-- header -->
        <slot name="header"></slot>
      <!-- main -->
      <br>
      <h1>컴포넌트 자체 데이터입니다.</h1>
      {{text}}
      <!-- footer -->  
        <br>
        <slot name="footer"></slot>
    </div>
  `,
  props : ['text']
};

let app = new Vue({
  el : '#app1',
  data : {
    message : ''
  },
  components : {
    'child-component' : childComponent
  }
})

</script>
<hr>
<div id="app2">
  <form-component v-on:input-data="inputData">
    <h1>{{header}}</h1>
      <label for="first" slot="firstSlot">{{firstLabel}}</label>
      <label for="second" slot="secondSlot">{{secondLabel}}</label>

    
    <!-- <template v-slot:firstSlot>
      <label for="first">{{firstLabel}}</label>
    </template>
    <template v-slot:secondSlot>
      <label for="second">{{secondLabel}}</label>
    </template> -->
  
  </form-component>
  <div>
    <p>{{firstData}}</p>
    <p>{{secondData}}</p>
  </div>
</div>
<script>
  const formComponent = {
    template : `
      <div>
        <form>
          <slot></slot>  
          <slot name = "firstSlot"></slot>  
          <input type="text" id="first" v-model="first"><br>
          <slot name = "secondSlot"></slot>  
          <input type="text" id="second" v-model="second"><br>
        </form>  
        <button type="button" v-on:click="insert">등록</button>
      </div>
    `,  
    data : function(){
      return {
        first : '',
        second : ''
      }
    },
    methods : {
      insert : function(){
        this.$emit('input-data', this.first, this.second);
      }
    }
  };

  let inputApp = new Vue({
    el : '#app2',
    components : {
      'form-component' : formComponent
    },
    data : {
      header : "책 저자 폼",
      firstLabel : "제목 : ",
      secondLabel : "저자 : ",
      firstData : "",
      secondData : ""
    },
    methods:{
      inputData : function(first, second){
        this.firstData = first;
        this.secondData = second;
      }
    }
  })
</script>
<!-- 범위 Slot (Template 개념) -->
<div id="app3">
  <data-component v-bind:data-list = "books">
    <h1 slot = "header">{{header}}</h1>
    <template slot="data" slot-scope="child"> <!-- slot-scope 는 임의의 이름. 보통 props로 많이 쓰지만 헷갈린다면 바꿔도 됨.
      template는 js태그 | template는 어디에 있던지 DOM에 등록되지 않음.
      자주 사용하는 태그를 template로 묶어서 저장하면 데이터 혹은 형태를 필요할때 가져올수 있음 -->
      <h2>
        <i>{{child.text.title}}</i>
        <small>by.{{child.text.author}}</small>
      </h2>
    </template>
  </data-component>
</div>
<script>
  const dataComponent = {
    template :`
      <div>
        <slot name="header"></slot>
        <slot name="data" v-for="data in dataList" v-bind:text="data"></slot>
      </div>
    `,
    props : ['data-list'] //dataList 로 작성해도 Vue가 페이지 로드할때 해석하기 때문에 v-bind에서 -으로 연결되어 있어도 이해를함.
                          // 기본적으로 html은 대소문자 구분을 못하기 떄문에 태그 부분은 소문자로 
                          
  }
  
  let bookApp = new Vue({
    el : '#app3',
    components : {
      'data-component' : dataComponent
    },
    data : {
      header : '책 제목',
      books : [
        {author : 'John Smith', title : 'Best of Times'},
        {author : 'John Doe', title : 'Go West Young Man'},
        {author : 'Avery Katz', title : 'The Life And Times of Avery'}
      ]
    }
  })
</script>


</html>